<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">ENTER STUDENT DETAILS</mat-toolbar>
        
              <form [formGroup]="studentDetail">
                  <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">RollNo. </label>
                      <input type="text" formControlName="rollNo" class="form-control" id="rollNo "
                          aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Name </label>
                      <input type="text" formControlName="name" class="form-control" id="name"
                          aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email </label>
                      <input type="email" formControlName="email" class="form-control" id="email"
                          aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Programme</label>
                      <input type="text" formControlName="programme" class="form-control" id="programme"
                          aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">roomNo</label>
                      <input type="text" formControlName="roomNo" class="form-control" id="roomNo"
                          aria-describeddescribedby="emailHelp">
                  </div>
                  <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Hostel Name</label>
                      <input type="text" formControlName="hostelName" class="form-control" id="hostelName"
                          aria-describeddescribedby="emailHelp">
                  </div>
                  
                      
                  
                  <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                          (click)="addStudent()">Add Student</button>
                  </div>
              </form>
</mat-card>
 </div>
