<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SAC COMPLAINTS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addStudent"
                    type="submit">Add Student</button>
            </div> -->
        </div>
        
        <div>
            <button type="submit"  class="btn btn-primary" style="margin-right: 3%;" (click)="getAllSACComplaints()">Show All</button>
        </div>
        <div>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="logout()">LOGOUT</button>
      </div>
    </nav>
    <div class="form-group">
        <input type="text" class="form-control search-field" placeholder="Search Here"
        [(ngModel)]="searchText">
    </div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Complaint ID</th>
            <th scope="col">Roll No</th>
            <th scope="col">Name</th>
            <th scope="col">Room No</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let complaint of complaintList | searchfilter: searchText">
            <td>{{complaint.id}}</td>
            <td>{{complaint.studentDetails.rollNo}}</td>
            <td>{{complaint.studentDetails.name}}</td>
            <td>{{complaint.studentDetails.roomNo}}</td>
            <td>{{complaint.timeStamp}}</td> 
            <td>{{complaint.status}}</td>

           <td>
                <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal"
                    data-bs-target="#solveComplaint" (click)="solveComplaint(complaint)">SOLVE</button>
            </td>

        </tr>

    </tbody>
</table>



<div class="modal fade" id="solveComplaint" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">SOLVE COMPLAINT</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form [formGroup]="complaintDetail">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Complaint Message. </label>
                        <input type="text" formControlName="description" class="form-control" id="description"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Status </label>
                        <input type="text" formControlName="status" class="form-control" id="status"
                            aria-describedby="emailHelp">
                        <!-- <mat-form-field  appearance="fill">
                           
                            <mat-select formControlName="status" class="form-control" id="status" aria-describedby="emailHelp">
                                <mat-option value="Pending">Pending</mat-option>
                                <mat-option value="Accepted">Accepted</mat-option>
                                <mat-option value="Rejected">Rejected</mat-option>
                                <mat-option value="Solved">Solved</mat-option>
                            </mat-select>
                        </mat-form-field> -->
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Response Message </label>
                        <input type="text" formControlName="response" class="form-control" id="response"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-success" (click)="updateComplaint()"
                            data-bs-dismiss="modal">SUBMIT </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div> 
</div>