<div class="imgdiv">  
  <img src="../../assets/iiitb.jpg" class="img1" alt="cinque terre"> 
  <div class="topleft"><span>IIIT</span> Bangalore</div> 
  <div class="topmiddle">COMPLAINT MANAGEMENT SYSTEM</div>
</div> 


<div fxLayoutAlign="center center" fxFlexFill class="main-div">


    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Login Page</mat-toolbar>
        <form (ngSubmit)="onSubmit()" fxLayoutAlign="stretch" fxLayout = "column" class="login-form">

            <mat-form-field appearance="fill">
                <mat-label>Role</mat-label>
                <mat-select name="role" [(ngModel)]="form.role">
                  <mat-option value="Admin">Admin</mat-option>
                  <mat-option value="Student">Student</mat-option>
                  <mat-option value="Warden">Warden</mat-option>
                  <mat-option value="Exam Controller">Exam Controller</mat-option>
                  <mat-option value="SAC">SAC</mat-option>
                  <mat-option value="FoodCom">Food Com</mat-option>
                  <mat-option value="SportsCom">Sports Com</mat-option>
                  <mat-option value="Placecom">Placecom</mat-option>  
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com" [(ngModel)]="form.email">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" name="password" [(ngModel)]="form.password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <br>
            
            <button mat-raised-button type="submit">Login </button>
        </form>
    </mat-card>
</div>